@import "~bootstrap/dist/css/bootstrap.css";

#chosen{
	border: 1px solid #cfcfcf;
	border-radius: 7px;
	width: 199px;
	padding: 6px;
}

#chosen .delete{
	color: red;
}

#chosen > div{
	cursor: pointer;
}

